@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1 class="display-4 mb-4">Welcome to Task_4</h1>
    <p class="lead">
        Explore our application built with ASP.NET Core MVC and Bootstrap.
        Learn more about building Web apps with
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a>.
    </p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg mt-3">Get Started</a>
</div>
