/* Встановлюємо базовий розмір шрифту */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px; /* Збільшуємо шрифт на більших екранах */
    }
}

/* Стилі для фокусу елементів */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Забезпечуємо мінімальну висоту для html */
html {
    position: relative;
    min-height: 100%;
}

/* Фонове зображення для body */
body {
    margin-bottom: 60px;
    background: url('https://img.goodfon.ru/original/1920x1080/2/fe/lake-tahoe-nevada-usa-lake-trees-sunrise-mountains-clear-wat.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Напівпрозорий шар для покращення читабельності тексту */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); /* Прозорість налаштована для кращого фону */
    z-index: -1;
}

/* Стилізація заголовків */
h1 {
    color: #333;
}

/* Мітки форм */
.form-label {
    font-weight: bold;
}

/* Стилі для кнопок із градієнтом та анімацією */
button, .btn {
    background: linear-gradient(45deg, #007bff, #00aaff);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

    /* Ефект при наведенні на кнопку */
button:hover, .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background: linear-gradient(45deg, #0056b3, #007bff);
}

/* Ефект при натисканні на кнопку */
button:active, .btn:active {
    transform: scale(0.98);
}

/* Стилі для полів введення */
input.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

input.form-control:focus {
    border-color: #007bff;
}

/* Додаткове стилізування для полів форми */
input.form-control,
textarea.form-control,
select.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Ефект при наведенні на поле введення */
input.form-control:hover,
textarea.form-control:hover,
select.form-control:hover {
    transform: scale(1.02);
}

/* Ефект при фокусі на полі введення */
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.03);
}

/* Стилі для футера */
footer.footer,
footer.footer .container,
footer.footer a {
    color: black !important;
}
