@{
    ViewData["Title"] = "Сторінка 5";
    // Фон для Стор5
    ViewBag.BackgroundUrl = "https://assets.tommackie.com/wp-content/uploads/2021/05/25145056/180540-1-1.jpg";
}

<div class="container my-5">
    <h2 class="mb-3">Сторінка 5</h2>
    <p class="mb-3">Відвідувань: @ViewBag.VisitCount</p>
    <p>Це Сторінка 5.</p>
    <!-- За схемою: Стор5 → Стор2 -->
    <a asp-controller="Page2" asp-action="Index" class="btn btn-primary">Далі</a>
</div>
