html {
    font-size: 14px;
}

/* Збільшуємо розмір шрифту на великих екранах */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Стилізація фокусу для різних елементів */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Загальні стилі для html */
html {
    position: relative;
    min-height: 100%;
}

/* Відступ знизу сторінки */
body {
    margin-bottom: 60px;
}

/* Фон для Task_9 із заданою картинкою */
body.task9-background {
    background: url('https://images.squarespace-cdn.com/content/v1/57c517e329687fa2d85e0267/1595215578708-KRGZ8CZ9IVMBW14WIPX4/0K6A3286.jpg?format=2500w') no-repeat center center fixed;
    background-size: cover;
}

/* Стилізація футера */
footer.footer {
    color: white !important;
}

footer.footer a {
    color: white !important;
}
