@model List<Task_3.Models.Message>
@{
    ViewData["Title"] = "Sent Messages";
}
<div class="form-card animate__fadeIn">
    <h2>Надіслані</h2>
    @if (!Model.Any())
    {
        <p>ще не відправляли</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var m in Model)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-route-id="@m.Id">
                        <strong>@m.SentAt:g</strong> до <strong>@m.To</strong> — @m.Theme
                    </a>
                </li>
            }
        </ul>
    }
</div>
