@{
    ViewData["Title"] = "Home";
}
<div class="text-center animate__animated animate__fadeInDown">
    <h1>Ласкаво просимо до NovaChat!</h1>
    <p class="lead animate__animated animate__fadeInUp">
        Ви увійшли як <strong>@Context.Session.GetString("UserName")</strong>.
    </p>
</div>
