@{
    ViewData["Title"] = "Home";
}
<div class="text-center animate__fadeInDown">
    <h1>Вітаємо!</h1>
    <p class="lead">Ви увійшли як <strong>@Context.Session.GetString("UserName")</strong>.</p>
</div>
